.myreducer {
    margin-top: 20rem;
}
.myreducer_header {
    margin-left: 20rem;
}

.myreducer_info {
    margin:20px;
    width: 70rem;
}

.count {
    margin-left:20px;
}

.count_button {
    margin: 5px;
	width: 30px;
}

